/* Global settings */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #111927;
  color:#ffffff;
  background-image: 
      radial-gradient(at 47% 33%, hsl(208.47, 100%, 50%) 0, transparent 59%), 
      radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
  background-size: stretch;
  background-repeat: no-repeat;
  font-size:1em;
  font-family: 'Roboto', sans-serif;
}

section {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin:10px;
}

/* Grid layout */
.wrapper {
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". a a ."
    ". b b . ";
  align-items: center;
  text-align: center;

}

.item1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: a;
}

.item1 > section{
  margin: 5px;
  padding:20px;
}

.item2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: b;
}

.item2 > section{
  margin: 5px;
  padding:20px;
}

#search{
  padding:10px;
  width: 80%;
  border-radius:8px
}

#submit{
  padding:10px;
  margin-top: 20px;
  width: 50%;
  border-radius:20px;
  background-color:#3a3a5e;
  color: #ffffff;
  transition: background-color 1s;
}

#submit:hover{
  background-color: #666691
}

section > div{
  text-align: left;
}

#Condition{
  font-size:30px;
  text-align: center;
}

#Temperature{
  font-size:50px;
  text-align:center;
  vertical-align: middle;
}

/* Responsive rules */
@media(max-width: 1330px){
  .item1, .item2 {
    grid-template-columns: 1fr;
    }
  }

@media(max-width: 450px){
  #submit{
    width: 100%;
    }
    div{
      margin:0;
    }
  }
  
