/* Global Settings */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root{
  --background: #1B1B2F;
  --main: #162447;
  --sub: #1F4068;
  --font: #E43F5A;
  --font2: #ffff;
}

body{
  background-color:var(--background);
  color:var(--font);
  font-family: 'Roboto Condensed', sans-serif;
}

/* Grid Layout */
#mainGrid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#mainGrid > section{
  background-color:var(--main);
  padding:10px;
}

.subGrid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap:5px;
}

.subGrid > section{
  background-color:var(--sub);
  padding:10px;
}

/* Headers */
.mainTitle{
  font-size:2vw;
  text-align: center;
}

.subTitle{
  font-size:2vw;
  text-align: center;
  color: var(--font2)
}

/* Elements */
.largeText{
  font-size:3vw;
  text-align: center;
  padding: 10px;
}

